body {
  background-image: url(images/1082210.png);
  background-repeat: repeat;
  font-family: 'Philosopher', '游ゴシック体', 'Yu Gothic', sans-serif;
  line-height: 1.6;
  color: #333;
  margin: 0;
  padding: 0;
}

main {
  max-width: 960px;
  margin: 0 auto;
  padding: 2rem;
}


header {
  background: #222;
  color: #fff;
  padding: 1rem 0;
  text-align: center;
}
header h1 {
  margin: 0;
  font-size: 40px;
}
.main-nav {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-top: 0.5rem;
  
}
.main-nav a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}
.main-nav a:hover {
  color: #ffd700; /* ホバー時にアクセントカラー */
}


ul {
  list-style: disc;      /* 黒丸を表示 */
  padding-left: 1.5em;   /* 左の余白（ブラウザによって必要） */
}

img {
  max-width: 600px;/*画像の幅を制限。PCは横幅600まで*/
  width: 100%;
  height: auto;/*縦サイズを自動調整*/
  display: block;
  margin: 20px auto;/*上下の余白は0　左右は自動調整で画像が中央よせになる*/
}

h1 {
  font-size: 50px;
  text-align: center;
}

nav {
  font-size: 25px;  
}

h2 {
  font-size: 45px;
  text-align: center;
  color: rgb(223, 148, 35);
  font-family: serif;
  font-weight: bold;
}

h3 {
  font-size: 30px;
  text-align: center;
}

h4 {
  font-size: 30px;
  font-family: serif ;
  font-weight: bold;
}

.finally {
  font-size: 45px;
  color: rgb(223, 148, 35);
  font-family: serif ;
  font-weight: bold;
  text-align: center;
}

p {
  font-size: 20px;
}

li {
  font-size: 20px;
}

a {
  font-size: 15px;
}

.about {
  background-color: #fff2d0;
  width: 100%; /*横いっぱい*/
  word-wrap: break-word;    /* 古いブラウザ対応 */
  overflow-wrap: break-word; /* モダンブラウザ対応 */
  word-break: break-all;     /* 日本語・英数字の区切りも強制的に改行 */
  display: inline-block;     /* 必要ならブロック化して余白調整もできる */
  max-width: 100%;           /* はみ出し防止 */
}
